---
layout: default
title: "OWTF - Offensive Web Testing Framework"
description: "OWTF automates the uncreative part of web security testing so assessors can focus on insight, supporting OWASP, NIST, and PTES methodologies."
---
<div class="pointer-events-none absolute inset-x-0 top-0 -z-10 h-[420px] bg-gradient-to-b from-slate-100 via-white to-white"></div>
<div class="relative flex min-h-screen flex-col">
  {% include header.html %}
  {% include home-main.html %}
  {% include footer.html %}
</div>
