<footer>
  <div class='container'>
    <div class='row'>
      <div class='one-half column'>
        <ul class='inline-list'>
          <li><a href='https://github.com/owtf/owtf'>Repository</a></li>
          <li><a href='http://owtf.readthedocs.org/'>Documentation</a></li>
          <li><a href='/releases'>Releases</a></li>
          <li><a href='http://blog.7-a.org/search/label/OWTF'>Blog</a></li>
        </ul>
      </div>

      <div class='one-half column text-right'>
        <a href='https://github.com/owtf' class="no-hover-dec"><span class='octicon octicon-code'></span> with <span class='octicon octicon-heart'></span> by @delta24</span></a>
      </div>
  </div>
</footer>
