<header>
  <div class='top-bar'>
    <div class='container'>
      <div class='row'>
        <div class='twelve columns'>
          <ul class='navigation inline-list'>
            <li><a href='/'>Home</a></li>|
            <li><a href='/releases'>Releases</a></li>|
            <li><a href='/repos'>Repositories</a></li>|
            <li><a href='http://blog.7-a.org/search/label/OWTF'>Blog</a></li>|
            <li><a href='/#download'>Download</a></li>|
            <li><a href='http://owtf.readthedocs.org/'>Documentation</a></li>|
            <li><a href='/contact'>Contact</a></li>|
            <li><a href="http://owtf.github.io/online-passive-scanner/">Online Passive Scanner</a></li>|
            <li><a href="http://owtf.github.io/boilerplate-templates/">Boilerplate Templates</a></li>|
            <li><a href="http://owtf.github.io/ptp/">PTP docs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
